495314/源码/源代码/第9章/proj9-4/App_WebReferences/localhost/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SendMailMsg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sendfrom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sendfrompwd" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sendto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="subject" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="body" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="smtpserver" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="smtpport" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SendMailMsgResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SendMailMsgSoapIn">
    <wsdl:part name="parameters" element="tns:SendMailMsg" />
  </wsdl:message>
  <wsdl:message name="SendMailMsgSoapOut">
    <wsdl:part name="parameters" element="tns:SendMailMsgResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceSoap">
    <wsdl:operation name="SendMailMsg">
      <wsdl:input message="tns:SendMailMsgSoapIn" />
      <wsdl:output message="tns:SendMailMsgSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceSoap" type="tns:WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMailMsg">
      <soap:operation soapAction="http://tempuri.org/SendMailMsg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceSoap12" type="tns:WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendMailMsg">
      <soap12:operation soapAction="http://tempuri.org/SendMailMsg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WebServiceSoap" binding="tns:WebServiceSoap">
      <soap:address location="http://localhost:8628/WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceSoap12" binding="tns:WebServiceSoap12">
      <soap12:address location="http://localhost:8628/WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>